/* HERO */
.hero{
    width: 100vw;
    margin: 0 auto;
    background-image: url(../../../../../public/Imagenes/Hero/Fondo\ del\ Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-hero{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}
/* TEXTOS-HERO */
.textos-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
/* IMAGENES-HERO */
.hero-comida-principal{
    width: 30rem;
    border-radius: 50%;
    border: 2.3rem solid var(--verde-claro);
    animation: girar infinite 40s linear;
}
@keyframes girar{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
